Repository Path-Check/safeplaces-backend, pull requests merged in 2020-05, with the labels that each got.

#59 Refactor
  expressjs/.gitignore
  expressjs/app.js
  expressjs/app/api/auth/controller.js
  expressjs/app/api/auth/index.js
  expressjs/app/api/auth/router.js
  expressjs/app/api/health/controller.js
  expressjs/app/api/health/index.js
  expressjs/app/api/health/router.js
  expressjs/app/api/redacted/controller.js
  expressjs/app/api/redacted/index.js
  expressjs/app/api/redacted/router.js
  expressjs/app/api/safepaths/controller.js
  expressjs/app/api/safepaths/index.js
  expressjs/app/api/safepaths/router.js
  expressjs/bin/www
  expressjs/db/migrations/20200420011122_organizations.js
  expressjs/db/migrations/20200420011123_users.js
  expressjs/db/migrations/20200428173125_extension_postgis.js
  expressjs/db/migrations/20200428174152_trails.js
  expressjs/db/migrations/20200501174613_publications.js
  expressjs/db/models/organizations.js
  expressjs/db/models/publications.js
  expressjs/db/models/trails.js
  expressjs/db/models/users.js
  expressjs/db/seeds/development/organizations_seed.js
  expressjs/db/seeds/development/users_seed.js
  expressjs/db/seeds/test/organizations_seed.js
  expressjs/db/seeds/test/users_seed.js
  expressjs/package-lock.json
  expressjs/package.json
  expressjs/routes/index.js
  expressjs/src/api/index.js
  expressjs/src/index.js
  expressjs/src/server/express.js
  expressjs/src/server/index.js
  expressjs/src/server/passport.js
  expressjs/test/_hello.js
  expressjs/test/api_tests.js
  expressjs/test/lib/agent.js
  expressjs/test/lib/mockData.js
  expressjs/test/login.js
  expressjs/test/redacted.js
  expressjs/test/safepaths.js
  nestjs/.gitignore
Labels: expressjs

#63 Reformat code and enforce code style
  .gitignore
  expressjs/.eslintrc
  expressjs/.eslintrc.js
  expressjs/.prettierignore
  expressjs/.prettierrc
  expressjs/app.js
  expressjs/app/api/auth/controller.js
  expressjs/app/api/auth/index.js
  expressjs/app/api/auth/router.js
  expressjs/app/api/health/controller.js
  expressjs/app/api/health/index.js
  expressjs/app/api/health/router.js
  expressjs/app/api/organization/controller.js
  expressjs/app/api/organization/index.js
  expressjs/app/api/organization/router.js
  expressjs/app/api/redacted/controller.js
  expressjs/app/api/redacted/index.js
  expressjs/app/api/redacted/router.js
  expressjs/app/api/safepaths/controller.js
  expressjs/app/api/safepaths/index.js
  expressjs/app/api/safepaths/router.js
  expressjs/config/jwtConfig.js
  expressjs/db/common/service.js
  expressjs/db/knex.js
  expressjs/db/migrations/20200420011121_update_ts.js
  expressjs/db/migrations/20200420011122_organizations.js
  expressjs/db/migrations/20200420011123_users.js
  expressjs/db/migrations/20200428173125_extension_postgis.js
  expressjs/db/migrations/20200428174152_trails.js
  expressjs/db/migrations/20200501174613_publications.js
  expressjs/db/migrations/20200521101710_add_organization_columns.js
  expressjs/db/models/organizations.js
  expressjs/db/models/publications.js
  expressjs/db/models/trails.js
  expressjs/db/models/users.js
  expressjs/db/seeds/development/organizations_seed.js
  expressjs/db/seeds/development/users_seed.js
  expressjs/db/seeds/test/organizations_seed.js
  expressjs/db/seeds/test/users_seed.js
  expressjs/jsconfig.json
  expressjs/knexfile.js
  expressjs/package-lock.json
  expressjs/package.json
  expressjs/routes/index.js
  expressjs/src/api/index.js
  expressjs/src/index.js
  expressjs/src/server/express.js
  expressjs/src/server/index.js
  expressjs/src/server/passport.js
  expressjs/test/_hello.js
  expressjs/test/api_tests.js
  expressjs/test/lib/agent.js
  expressjs/test/lib/mockData.js
  expressjs/test/login.js
  expressjs/test/organizations.js
  expressjs/test/redacted.js
  expressjs/test/safepaths.js
Labels: enhancement

#65 Scalability & Hashes
  expressjs/.gitignore
  expressjs/app/api/organization/controller.js
  expressjs/app/api/redacted/controller.js
  expressjs/app/api/safepaths/controller.js
  expressjs/app/lib/geoHash.js
  expressjs/app/lib/publicationFiles.js
  expressjs/db/common/service.js
  expressjs/db/migrations/20200522205957_update_notification_threshold.js
  expressjs/db/migrations/20200523094936_add_hash_to_trails.js
  expressjs/db/models/organizations.js
  expressjs/db/models/publications.js
  expressjs/db/models/trails.js
  expressjs/db/models/users.js
  expressjs/db/seeds/test/organizations_seed.js
  expressjs/package-lock.json
  expressjs/package.json
  expressjs/routes/index.js
  expressjs/src/server/errorHandler.js
  expressjs/src/server/express.js
  expressjs/test/_hello.js
  expressjs/test/integration/health.test.js
  expressjs/test/integration/login.test.js
  expressjs/test/integration/organizations.test.js
  expressjs/test/integration/redacted.test.js
  expressjs/test/integration/safepaths.test.js
  expressjs/test/lib/mockData.js
  expressjs/test/safepaths.js
  expressjs/test/scalability.js
  expressjs/test/unit/geoHash.test.js
  expressjs/test/unit/hello.test.js
Labels: enhancement, expressjs

#66 [WIP] Support publishing of redacted user data
  expressjs/app/api/cases/controller.js
  expressjs/app/api/cases/index.js
  expressjs/app/api/cases/router.js
  expressjs/db/migrations/20200428174152_trails.js
  expressjs/db/migrations/20200523171306_cases.js
  expressjs/db/models/cases.js
  expressjs/test/cases.js
  expressjs/test/lib/mockData.js
Labels: enhancement, expressjs

#69 [PLACES-232] Rebuild migration for database and Rework API to handle new Schema.
  expressjs/app/api/cases/controller.js
  expressjs/app/api/organization/controller.js
  expressjs/app/api/redacted/controller.js
  expressjs/app/api/safepaths/controller.js
  expressjs/app/lib/publicationFiles.js
  expressjs/db/common/service.js
  expressjs/db/migrations/20200420011122_organizations.js
  expressjs/db/migrations/20200420011123_users.js
  expressjs/db/migrations/20200428174152_trails.js
  expressjs/db/migrations/20200501174613_publications.js
  expressjs/db/migrations/20200521101710_add_organization_columns.js
  expressjs/db/migrations/20200522205957_update_notification_threshold.js
  expressjs/db/migrations/20200523094936_add_hash_to_trails.js
  expressjs/db/migrations/20200523171306_cases.js
  expressjs/db/migrations/20200526095904_rebuild.js
  expressjs/db/models/cases.js
  expressjs/db/models/organizations.js
  expressjs/db/models/publications.js
  expressjs/db/models/settings.js
  expressjs/db/models/trails.js
  expressjs/db/models/users.js
  expressjs/db/seeds/development/organizations_seed.js
  expressjs/db/seeds/development/users_seed.js
  expressjs/db/seeds/test/organizations_seed.js
  expressjs/db/seeds/test/users_seed.js
  expressjs/test/integration/cases.test.js
  expressjs/test/integration/login.test.js
  expressjs/test/integration/organizations.test.js
  expressjs/test/integration/redacted.test.js
  expressjs/test/integration/safepaths.test.js
  expressjs/test/lib/mockData.js
Labels: enhancement, expressjs
